<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <title>کارخانه بهشت کیمیا</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="js/Angular/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
    <script src="js/Angular/Services/APICaller.js"></script>
    <script src="js/Angular/Services/AboutUSService.js"></script>
    <script src="js/Angular/Controllers/MainController.js"></script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/rtlBootstrap/bootstrap.min.js"></script>
    <script src="js/rtlBootstrap/popper.min.js"></script>
    <link href="css/rtlBootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/rtlBootstrap/bootstrap-4-navbar.css" rel="stylesheet" />
    <script src="js/rtlBootstrap/bootstrap-4-navbar.js"></script>
    <script src="js/Infrastructure.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        @font-face {
            font-family: 'BNAZANIN';
            src: url('css/FontStyle/B-NAZANIN.TTF') format('truetype');
        }

        @font-face {
            font-family: 'BTitr';
            src: url('css/FontStyle/B Titr Bold_0.ttf') format('truetype');
        }

        .BNAZANIN {
            font-family: BNAZANIN;
        }

        * {
            font-family: BNAZANIN;
        }

        .BTitr {
            font-family: BTitr;
        }

        .orange-text {
            color: #fb9600;
        }

        a.orange-text:hover {
            color: #e65100;
        }

        .fakeimg {
            height: 200px;
            background: #aaa;
        }

        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        }

        .tabbable .nav-tabs {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
        }
    </style>
</head>
<body style="background-color:rgba(232, 232, 232, 0.25); ">
    <div ng-app="CentralShopping" ng-controller="MainControl" ng-init="init()">

        <div class="jumbotron" style="margin-bottom:0; padding-top: 30px; padding-bottom: 20px;">
            <div class="container BTitr orange-text">
                <h1 style="text-shadow:1px 1px 3px black;">کارخانه بهشت کیمیا</h1>
                <h6 style="text-shadow:0px 0px 10px #fb9600;">تولید کننده انواع آرایشی بهداشتی شوینده و ضد عفونی کننده‬‎</h6>
            </div>
        </div>

        <!-- #region MenuBar -->

        <div class="container-fluid bg-dark sticky-top">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-dark row ">

                    <a class="navbar-brand BTitr orange-text" style="color: #fb9600;" href="" ng-click="HomeMenuClick()">بهشت کیمیا</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-nowrap dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    محصولات
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item dropdown-toggle" href="#">آرایشی و بهداشتی</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#" ng-click="ProductMenuClick(1);">عطر و ادوکلن</a></li>
                                            <li><a class="dropdown-item" href="#" ng-click="ProductMenuClick(2);">اسپری</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item dropdown-toggle" href="#">مواد شوینده</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#" ng-click="ProductMenuClick(3);">شامپو</a></li>
                                            <li><a class="dropdown-item" href="#" ng-click="ProductMenuClick(4);">دست و صورت</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" ng-click="ProductMenuClick(5);">ضد عفونی کننده</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-nowrap" href="" id="StoreMenu" ng-click="AboutUsClick()">سخن ما</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" href="" id="StoreMenu" ng-click="ContactUsClick()">ارتباط با ما</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- #endregion -->


        <div class="container" style="margin-top:30px">

            <!-- #region Alert -->

            <div class="alert alert-dismissible fade show " ng-repeat="x in Alerts" ng-class="x.Class" id="{{x.ID}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{x.Caption}}</strong> {{x.Body}}
            </div>



            <!-- #endregion -->
            <!-- #region HomePage -->

            <div class="row" ng-show="HomeView">
                <div class="col">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">

                            <div class="carousel-item" ng-repeat="x in CarouselSlide" ng-class="{'active': x.Active}">
                                <img ng-src="{{x.SourceAddress}}" alt="Appel" class="img-fluid mx-auto d-block" style="height: 350px;" />
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row my-5" ng-show="HomeView">
                <div class="col">
                    <div class="border border-muted rounded">
                        <div class="label text-danger m-2 BTitr">
                            محصولات ویژه
                        </div>
                        <nav class="tabbable">
                            <div class="nav nav-tabs">
                                <a class="nav-item nav-link text-nowrap bg-light" data-toggle="tab" ng-repeat="x in SpecialTab" ng-click="SpecialTabClick(x)" ng-class="{'active': x.Active }">{{x.Name}}</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="container tab-pane" ng-class="{'active': x.Active , 'fade': !x.Active}" ng-repeat="x in SpecialTab">
                                <div class="row">

                                    <div class="col-lg-4 my-auto ">
                                        <div class="mb-2 font-weight-bold" ng-repeat="t in x.Options">
                                            {{t.Caption}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-auto">

                                        <div ng-show="x.Discount" ng-class="{'mt-2': x.Discount}">

                                            <div class="label text-danger bg-warning rounded m-1 p-1 w-100">
                                                قیمت :
                                                <s>{{x.Price | currency:"":0}}</s> ریال
                                            </div>
                                            <div class="label text-danger bg-warning rounded m-1 p-1 w-100">
                                                تخفیف : {{x.Discount}}%
                                            </div>
                                        </div>

                                        <div class="label text-light bg-info rounded m-1 p-1 w-100" ng-class="{'mt-5': !x.Discount}" ng-show="x.FinallPrice">
                                            قیمت نهایی : {{x.FinallPrice| currency:"":0}} ریال
                                        </div>

                                        <div class="mt-3 text-center">
                                            <button class="btn btn-primary w-75 font-weight-bold" type="submit" ng-click="SpecialTabProductClick(x.CategoryID,x.ID)">
                                                <i class="fa fa-eye fa-2x pull-left" aria-hidden="true">
                                                </i>
                                                مشاهده محصول
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-2">
                                        <img ng-src="{{x.Image}}" alt="{{x.Name}}" class="img-fluid mx-auto d-block" style="height: 200px;">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- #endregion -->
            <!-- #region GoBackView -->

            <div class="row mb-2 justify-content-end" ng-show="ViewStack.length">
                <div class="col-sm-3">
                    <button class="btn btn-secondary w-100" type="submit" title="بازگشت به قسمت قبل" ng-click="PreviousViewClick()" ng-show="ViewStack.length>0">
                        <i class="fa fa-arrow-left fa-2x pull-left" aria-hidden="true">
                        </i>
                        بازگشت
                    </button>
                </div>
            </div>

            <!-- #endregion -->
            <!-- #region StoreView -->

            <div class="row border border-dark mb-3 rounded" ng-show="StoreView">


                <div class="col-md-12" ng-show="StoreProductListView">
                    <div class="row pt-2">
                        <div class="col-sm-4">
                            <select class="text-primary border-0" ng-model="SortType" ng-options="x.Caption for x in SortTypes"></select>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4 text-info">
                            {{StoreSelectedProductMenu.TotalCount}} محصول
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 p-1" ng-repeat="x in StoreSelectedProductMenu.ProductList | orderBy : SortType.Value" id="{{x.ID}}" ng-click="StoreProductClick(x.ID)">
                            <div class="border rounded h-100" ng-class="{'border-danger' : !x.Available , 'border-dark' : x.Available }">
                                <div class="m-1">
                                    <img ng-src="{{x.Image}}" alt="{{x.Name}}" class="img-fluid mx-auto d-block" style="height: 150px;">
                                </div>
                                <div class="label m-1 text-dark font-weight-bold">{{x.Name}}</div>
                                <div class="label text-dark font-weight-bold m-1 p-1" ng-show="x.Discount">
                                    تخفیف :
                                    <span class="text-danger bg-warning rounded p-1">{{x.Discount}}%</span>
                                </div>
                                <div class="label m-1 text-white bg-info rounded p-1" ng-show="x.FinallPrice">
                                    {{x.FinallPrice | currency:"":0}} ریال
                                </div>
                            </div>
                        </div>
                    </div>

                </div>




                <div class="col-md-12" ng-show="StoreProductView">
                    <div class="row border-bottom border-secondary rounded" style="border-width: 5px;">

                        <div class="col-lg-6 pt-3">
                            <h5 class="font-weight-bold">
                                {{StoreProduct.Name}}
                            </h5>

                            <ul class="list-unstyled">
                                <li ng-repeat="x in StoreProduct.Options">

                                    <p class="text-justify font-weight-bold">
                                        {{x.Caption}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 p-1">
                            <div id="productImage" class="carousel slide" data-ride="carousel" data-interval="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item" ng-repeat="x in StoreProduct.Images" ng-class="{'active': x.Active}">
                                        <img ng-src="{{x.SourceAddress}}" alt="Appel" class="img-fluid mx-auto d-block" style="height: 300px;" />
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#productImage" data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a class="carousel-control-next" href="#productImage" data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">

                        <div class="col-lg-4">
                            <div ng-show="StoreProduct.Discount" ng-class="{'mt-2': StoreProduct.Discount}">

                                <div class="label text-danger bg-warning rounded m-1 p-1 w-100">
                                    قیمت :
                                    <s>{{StoreProduct.Price | currency:"":0}}</s> ریال
                                </div>
                                <div class="label text-danger bg-warning rounded m-1 p-1 w-100">
                                    تخفیف : {{StoreProduct.Discount}}%
                                </div>
                            </div>

                            <div class="label text-light bg-info rounded m-1 p-1 w-100" ng-class="{'mt-5': !StoreProduct.Discount}" ng-show="x.FinallPrice">
                                قیمت کل : {{StoreProduct.FinallPrice| currency:"":0}} ریال
                            </div>

                        </div>
                        <div class="col-lg-4">

                        </div>
                        <!--<div class="col-lg-4 mt-auto">
                            <button class="btn btn-primary w-100" type="submit" title="سبد خرید" ng-click="AddCart(StoreProduct)" ng-disabled="!StoreProduct.Available">
                                <i class="fa fa-cart-plus fa-2x pull-left" aria-hidden="true">
                                </i>
                                افزودن به سبد خرید
                            </button>
                        </div>-->
                    </div>
                </div>

            </div>
            <!-- #endregion -->
            <!-- #region PolicyView -->
            <div ng-show="PolicyView">
                <div class="text-center text-primary">

                    <i class="fa fa-refresh fa-spin fa-5x" aria-hidden="true">
                    </i>

                </div>
                <div class="text-center text-dark display-4">
                    قوانین و خط مشی !
                    <hr />
                </div>

            </div>
            <!-- #endregion -->
            <!-- #region ContactUsView -->
            <div class="border border-dark rounded p-4 mb-2" ng-show="ContactUsView">
                <!--<div class="text-center text-primary">

        <i class="fa fa-refresh fa-spin fa-5x" aria-hidden="true">
        </i>

    </div>-->

                <div class="text-left mb-3">
                    <h4 class="font-weight-bold ml-3">تلفن واحد فروش</h4>
                    <h5 class="font-weight-bold ml-5">
                        09124404410                        
                    </h5>
                    <div class="font-weight-bold ml-5">
                        ساعات پاسخ گویی از 10 الی 16
                    </div>
                </div>

                <div class="text-left">
                    <h4 class="font-weight-bold ml-3">واحد رسیدگی به شکایات</h4>
                    <h5 class="font-weight-bold ml-5">
                        09356606999
                    </h5>
                </div>

                <div class="text-left">
                    <h4 class="font-weight-bold ml-3">کارخانه</h4>
                    <h5 class="font-weight-bold ml-5">
                        02637774510
                    </h5>
                </div>

                <div class="text-left">
                    <h4 class="font-weight-bold ml-3">آدرس</h4>
                    <h5 class="font-weight-bold ml-5">
                        شهرک صنعتی اشتهارد، خیابان غزالی غربی، گلنوش دوم، قطعه 2531/1
                    </h5>
                </div>

                <div class="text-left">
                    <h4 class="font-weight-bold ml-3">کد پستی</h4>
                    <h5 class="font-weight-bold ml-5">
                        3188115459
                    </h5>
                </div>

            </div>
            <!-- #endregion -->
            <!-- #region AboutUsView -->
            <div ng-show="AboutUsView">
                <div class="text-center text-primary">

                    <i class="fa fa-refresh fa-spin fa-5x" aria-hidden="true">
                    </i>

                </div>
                <div class="text-center text-dark display-4">
                    سخن ما !
                    <hr />
                </div>

            </div>
            <!-- #endregion -->
        </div>
        <div class="jumbotron text-center" style="margin-bottom:0; padding-top: 20px; padding-bottom: 15px;">
            <div class="font-weight-bold text-nowrap p-0 m-0 border-bottom">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="" class="nav-link orange-text mx-3" ng-click="PolicyClick()">خط مشی</a></li>
                    <li class="nav-item"><a href="" class="nav-link orange-text mx-3" ng-click="AboutUsClick()">سخن ما</a></li>
                    <li class="nav-item"><a href="" class="nav-link orange-text mx-3" ng-click="ContactUsClick()">ارتباط با ما</a></li>
                </ul>

            </div>
            <div class="text-muted">
                تمامی حقوق این اثر متعلق به
                <a class="orange-text font-weight-bold" href="" target="_blank">بهشت کیمیا</a> می باشد
            </div>
            <div class="text-muted" ng-show="1">
                طراحی و تولید توسط
                <a class="text-primary" href="http://tahasoft.ir" target="_blank">طاها سافت</a>
            </div>
        </div>


        <!-- #region Modal -->

        <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title BTitr">{{ModalContent.ModalTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body font-weight-bold">
                        <p>
                            {{ModalContent.ModalBody}}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn BNAZANIN" data-dismiss="modal" ng-repeat="x in ModalContent.Buttons"
                                ng-class="x.Class" ng-click="x.Click()">
                            {{x.Caption}}
                        </button>

                    </div>
                </div>

            </div>
        </div>

        <!-- #endregion -->

    </div>
</body>
</html>